/*
 Theme Name:   Boutique Child W-I-R Schule
 Theme URI:    http://example.com/boutique-child-wir/
 Description:  Boutique Child Theme
 Author:       Wir Schule
 Author URI:   http://wir-schule.de
 Template:     Boutique
 Version:      0.0.6
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         no-tags
 Text Domain:  boutique-child-wir
*/


/************************************************************
Inhaltsverzeichnis
************************************************************

1. Globale Einstellungen
2. Typographie
3. Menüs
4. Header und Footer
5. Positionen und Abstände
6. Spezielle Elemente
7. Module und Widgets
8. Sonstiges
*/


/************************************************************
1. Globale Einstellungen
************************************************************/


/* Padding Startseite */

#main-products .entry, .et_pb_section {
    padding: 0 !important;
}

.et_pb_module img {
    margin-bottom: 10px !important;
}

/* Spalte links 550px
   wir-grün #86BC25
   wir-hellgrün #d4e4b1 */

.nowrap {
	white-space: nowrap;
}

/************************************************************
2. Typographie
***********************************************************

Wichtige Einstellungen in Wordpress unter 
"Extra->Theme Customizer->General->Typography Settings":
?? Frage Karsten: Customizing für dieses Theme erfolgt unter "Design->BoutiqueTheme Options"
oder hab ich da was übersehen?
* Heading Text Size: 14
* Body Text Size: 14
* Font Style: alles deaktivieren
* Heading Font / Body Font: Default
* KEINE Farben einstellen
?? Karsten: Da in den Coloriziation Options des Thems bislang nichts definiert ist, muss das wohl doch hier erfolgen.
*/


body,
#main-content,
div#main-content-area.container,
div#breadcrumbs,
form input,
#top-menu li a,
#secondary-menu li a,
#bottom-nav li a,
#schule-footer-text,
h2,
h3, 
h4,
#footer h4.widget-title {
  font-family: 'Open Sans', sans-serif !important;
}

h1, 
#slogan {
    font-family: 'Amatic SC', cursive !important;
}

body,
#main-content {
    font-size: 14px  !important;
    color: #323232  !important;	
}
h1 {
  font-weight: bold  !important;
  font-size: 36px !important; 
  letter-spacing: 3px  !important;
  color: #C52424  !important;
}
h2 {
    font-size: 24px !important;
    color: #C52424 !important;
}
h3 {
    font-size: 14px !important;
    font-weight: bold !important;
    color: #323232 !important;
}

a:link, a:visited, a:hover, a:active {
    font-weight: bold !important;
    color: #86BC25 !important;
}


blockquote {
    font-size: 22px !important;
    font-style: oblique !important;
    font-weight: lighter !important;
    color: #646464 !important;
    border: 0px !important;
}

blockquote p {
    line-height: 1.5em;
    font-weight: lighter;
}


blockquote p:first-child:before { content:"\00bb"; }
blockquote p:last-child:after { content:"\00ab"; }


/************************************************************
3. Menüs
************************************************************/

ul#top-menu {
    clear: right;
    padding: 0;
}

ul#top-menu a {
    padding: 0 12px 0 0;
}
 
ul#top-menu > li.menu-item > a {
	background-image: none !important;
	color: #ffffff !important;
	text-transform: uppercase;
	font-weight: normal !important;
    font-size: x-small;
}

ul#top-menu > li.current_page_item > a,
ul#top-menu > li.current_page_item > a:link,
ul#top-menu > li.current_page_item > a:visited,
ul#top-menu > li.current_page_item > a:hover,
ul#top-menu > li.current_page_item > a:active {
  font-style: normal !important;
    font-weight: bold !important;
 /* border-bottom-color: #ffffff;
  border-bottom-width: 2px;
  border-bottom-style: solid; */
}

ul#secondary-menu {
    padding-left: 0 !important;;
}

ul#secondary-menu a, ul#bottom-nav  a {
    font-style: normal !important;
    font-weight:normal !important;
}

ul#secondary-menu a:hover, a:visited, ul#bottom-nav  a:hover, a:visited {
    font-weight: bolder !important;
}


ul#secondary-menu > li.current_page_item > a, ul.bottom-nav > li.current_page_item > a {
    color: #86BC25 !important;
    font-style: normal;
    font-weight:bold !important;
}

ul#secondary-menu > li.current_page_item > a:hover, a:visited, ul.bottom-nav > li.current_page_item > a:hover, a:visited {
    font-weight: bolder !important;
}



/************************************************************
4. Header und Footer
************************************************************/


#header div.container.clearfix {
  background: #86BC25;
}

#logo-area {
    margin: 0 0 0 10px;
}

#slogan {
    font-family: 'Amatic SC' !important;
    font-style: normal !important;
    letter-spacing:2px;
    color: #d4e4b1 !important;
    text-transform: uppercase;
    font-size: 22px !important;  
	background-image: none !important;
}


/* remove borders and bars */
#top-area-bg,
#bottom-area-bg,
#main-content,
#footer-top-bg,
#footer-bottom-bg {
	background-image: none !important;
}

#top-area,
#menu-content {
	background-color: #ffffff !important;
	background-image: none !important;
}

/* remove "powered by wordpress" */
#copyright {
    display: none;
}

#logo-world {
  float:left;
}
#footer div.footer-widget.widget_text,
#footer div.footer-widget.widget_text h4.widget-title,
#footer div.footer-widget.widget_text a:link, 
#footer div.footer-widget.widget_text a:visited, 
#footer div.footer-widget.widget_text a:hover, 
#footer div.footer-widget.widget_text a:active {
  color: #ffffff !important;
  text-shadow: none !important;

}
#footer div.footer-widget.widget_text a {
  white-space: nowrap; 
  font-weight: bold;
}
#footer div.footer-widget.widget_text h4.widget-title {
  font-weight: bold;
  font-size: 14px  !important;
  text-shadow: none !important;
  white-space: nowrap;
}
#logo-world {
  margin-right: 20px;
}
  
#footer {
  /*background: #86BC25 !important;*/
  background-color: #fff !important;
}

#footer-bottom-bg div.container {
	background-color: #86BC25;
}

#footer-widgets {
    padding: 20px 0;
}

/************************************************************
5. Positionen und Abstände
************************************************************/

/* padding header */

#header {
  padding-top: 0px;
}

#logo {
  padding-left: 10px;
  padding-top: 10px;
}
p#slogan {
  padding-top: 17px !important;
}
div#search-form {
  margin-right: 15px;
  margin-top: 10px;
}

/* homepage: header und breadcrumbs ausblenden ist im 
custom CSS der homepage, im Einstellungen-Menu (≣) des Divi-Builder  */

/* remove extra space below header */
div#main-products {
  padding-top: 0px !important;
}


/************************************************************
6. Spezielle Elemente
************************************************************/

/* Breadcrumbs */
#breadcrumbs {
    padding: 0 0 14px;
}

#breadcrumbs {
    color: #d4e4b1 !important;
}


#breadcrumbs a {
    color:#86BC25 !important;
    font-weight: normal !important;
}

#breadcrumbs a:hover {
    color:#86BC25 !important;
    font-weight: bold !important;
}


/* Top Area */

#category-inner {
  padding: 20px 0 0;
}


ul.homepageListe {
	list-style-type: none;
}

.whiteboard-table tr, td {
    border: solid 1px #646464;
    padding: 0.5em;
}
table.Teamtabelle
{
   border-spacing:20px;
   padding:10;
   margin:auto;
}

table.Teamtabelle td {
   background: #eeeeee;
   font-family: 'asapregular', serif;
   color:#000000;
   height:80px;
   margin:10;
   font-size:2em;
}

/*Suchergebnisse */

span.price-tag,
a.add-to-cart.et-shop-item,
a.more-info,
.main-product h4.title {
    display: none;
}


/************************************************************
7. Module und Widgets
************************************************************/

/* sidebar: Schatten etc. entfernen */
#sidebar,
div.widget-content {
  background-image: none !important;
}


/************************************************************
8. Sonstiges
************************************************************/

#color-stripes,
#bottom-color-stripes {
  display: none;
}

.slider-startseite a {
    color: black !important;
}
