/*
 Theme Name:   Boutique Child W-I-R Schule
 Theme URI:    http://example.com/boutique-child-wir/
 Description:  Boutique Child Theme
 Author:       Wir Schule
 Author URI:   http://wir-schule.de
 Template:     Boutique
 Version:      0.0.6
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         no-tags
 Text Domain:  boutique-child-wir
*/


/************************************************************
Inhaltsverzeichnis
************************************************************

1. Globale Einstellungen
2. Typographie
3. Menüs
4. Header und Footer
5. Positionen und Abstände
6. Spezielle Elemente
7. Module und Widgets
8. Sonstiges
*/


/************************************************************
1. Globale Einstellungen
************************************************************/


/************************************************************
2. Typographie
***********************************************************

Wichtige Einstellungen in Wordpress unter 
"Extra->Theme Customizer->General->Typography Settings":
* Heading Text Size: 14
* Body Text Size: 14
* Font Style: alles deaktivieren
* Heading Font / Body Font: Default
* KEINE Farben einstellen

*/


body,
#main-content,
div#main-content-area.container,
div#breadcrumbs,
form input,
#top-menu li a,
#secondary-menu li a,
#bottom-nav li a,
#schule-footer-text,
h3, 
h4,
h4.widget-title {
  font-family: 'Open Sans', sans-serif !important;
}

h1, 
h2,
#slogan {
    font-family: 'Amatic SC', cursive !important;
}

body,
#main-content {
    font-size: 14px  !important;
    color: #323232  !important;	
}
h1 {
  font-weight: bold  !important;
  font-size: 36px !important; 
  letter-spacing: 3px  !important;
  color: #C52424  !important;
}
h2 {
    font-size: 22px !important;
    color: #C52424 !important;
}
h3 {
    font-size: 14px !important;
    font-weight: bold !important;
    color: ##323232 !important;
}


a:link, a:visited, a:hover, a:active {
    font-weight: bold !important;
    color: #86BC25 !important;
}
blockquote {
    font-size: 22px !important;
    font-style: oblique !important;
    font-weight: normal !important;
    color: #646464 !important;
    border: 0px !important;
}
blockquote p:first-child:before { content:"\00bb"; }
blockquote p:last-child:after { content:"\00ab"; }


/************************************************************
3. Menüs
************************************************************/

 
ul#top-menu > li.menu-item > a {
	background-image: none !important;
	color: #ffffff !important;
	text-transform: uppercase;
	font-weight: normal !important;
}
ul#top-menu > li.current_page_item > a,
ul#top-menu > li.current_page_item > a:link,
ul#top-menu > li.current_page_item > a:visited,
ul#top-menu > li.current_page_item > a:hover,
ul#top-menu > li.current_page_item > a:active {
  font-style: normal !important;
  border-bottom-color: #ffffff;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

ul#secondary-menu > li.current_page_item > a,
ul#bottom-nav > li.current_page_item > a {
  color: #86BC25 !important;
  font-style: normal !important;
  font-weight: bold !important;
}

ul#secondary-menu > li.menu-item > a,
ul#bottom-nav > li.menu-item > a {
  font-weight: normal !important;
}


/************************************************************
4. Header und Footer
************************************************************/


#header div.container.clearfix {
  background: #86BC25;
}
#slogan {
    font-family: 'Amatic SC', cursive !important;
    color: #ffffff !important;
    text-transform: uppercase;
    font-size: 22px !important;  
	background-image: none !important;

}
/* remove borders and bars */
#top-area-bg,
#bottom-area-bg,
#main-content,
#footer-top-bg,
#footer-bottom-bg {
	background-image: none !important;
}

#top-area,
#menu-content {
	background-color: #ffffff !important;
	background-image: none !important;
}

/* remove "powered by wordpress" */
#copyright {
    display: none;
}

#logo-world {
  float:left;
}
#schule-footer,
#schule-footer-text strong {
  color: #ffffff;
}
#logo-world {
  margin-right: 20px;
}
#schule-footer-text a:link, 
#schule-footer-text a:visited, 
#schule-footer-text a:hover, 
#schule-footer-text a:active {
  color: #ffffff !important;
}
#footer {
  background: #86BC25 !important;
}

/************************************************************
5. Positionen und Abstände
************************************************************/

/* padding header */

#header {
  padding-top: 0px;
}

#logo {
  padding-left: 10px;
  padding-top: 10px;
}
p#slogan {
  padding-top: 17px !important;
}
div#search-form {
  margin-right: 15px;
  margin-top: 10px;
}

/* homepage: header und breadcrumbs ausblenden ist im 
custom CSS der homepage, im Einstellungen-Menu (≣) des Divi-Builder  */

/* remove extra space below header */
div#main-products {
  padding-top: 0px !important;
}


/************************************************************
6. Spezielle Elemente
************************************************************/

ul.homepageListe {
	list-style-type: none;
}

.whiteboard-table tr, td {
    border: solid 1px #646464;
    padding: 0.5em;
}
table.Teamtabelle
{
   border-spacing:20px;
   padding:10;
   margin:auto;
}

table.Teamtabelle td {
   background: #eeeeee;
   font-family: 'asapregular', serif;
   color:#000000;
   height:80px;
   margin:10;
   font-size:2em;
}


/************************************************************
7. Module und Widgets
************************************************************/

/* sidebar: Schatten etc. entfernen */
#sidebar,
div.widget-content {
  background-image: none !important;
}


/************************************************************
8. Sonstiges
************************************************************/

#color-stripes,
#bottom-color-stripes {
  display: none;
}
